//the size of devices
$smallDevices: 576px;
$mediumDevices: 768px;
$largDevices: 992px;
$exteraLargDevices: 1200px;

//colors
$backgroundColorNavbar:	#080808;
$brandColor: #f2f2f2;
$viewButtonColor: #f2f2f2;
$borderColor:#f2f2f2;
$viewButtonHover:  #423c3c;
$textColor: #f2f2f2;
$backgroundColorPosts: #423c3c;
$backgroundColorPost: #080808;